@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

html, body {
    height: 100%; /* Garante que o body ocupe 100% da altura da viewport */
    margin: 0; /* Remove margens padrão */
}

html {
    font-size: 62.5%;
    color: #c1c6cb;
    font-family: 'Lato', sans-serif;
}

body {
    padding: 20px 50px;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    background: linear-gradient(270deg, #1a1a1a, #1f2a34, #21393c, #1c2a39);
    background-size: 400% 400%; /* Aumenta o tamanho do fundo para permitir a animação */
    animation: gradientAnimation 15s ease infinite; /* Adiciona animação ao corpo */
}

body::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #110d0d;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

.dashboard {
    display: block;
    max-width: 1024px;
    margin: 0 auto;
}

.dashboard-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.server {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    white-space: nowrap;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Servidor online com borda verde */
.server.is-online {
    border-color: #2eb35a; /* Borda verde para servidores online */
    box-shadow: 0px 4px 15px rgba(46, 179, 90, 0.5);
}

/* Cores dos pings */
.server-details .ping-low {
    color: rgb(109, 24, 149);
}

.server-details .ping-medium {
    color: yellow;
}

.server-details .ping-high {
    color: red;
}

.server-icon {
    display: inline-block;
    font-size: 10.5rem; /* Tamanho base do ícone */
    margin: 0 2rem;
    transform: scale(1.5); /* Aumenta o tamanho do ícone */
}

.server-details li {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #7e8794;
}

.server-details li:last-child {
    font-weight: normal;
    color: rgba(230, 245, 255, 0.32);
}

.server-details .signal {
    color: #2eb35a;
    text-align: right;
    margin-top: 10px;
}

.server-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 2rem;
}

.server.has-failed {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-color: #d22c32;
    animation: alertblink 2s ease-in-out infinite;
}

.server.has-failed .server-icon,
.server.has-failed .signal {
    color: #d22c32;
}

.server.has-failed:hover {
    background-color: rgba(210, 44, 50, 0.2);
    animation: none;
}

@keyframes alertblink {
    0% {
        background: rgba(210, 44, 50, 0);
    }
    50% {
        background: rgba(210, 44, 50, 0.2);
    }
    100% {
        background: rgba(210, 44, 50, 0);
    }
}

/* Estilos para status online e offline */
.online {
    color: #2eb35a; /* Verde para online */
}

.offline {
    color: #d22c32; /* Vermelho para offline */
}

#uptimeModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.heartbeat {
    font-size: 24px; /* Tamanho do ícone de coração */
    animation: heartbeat 1.5s infinite; /* Animação do coração pulsante */
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

/* Animação do gradiente */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Estilização de Login e Registro */
.login-container, .register-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.438);
}

.login-container h2, .register-container h2 {
    text-align: center;
    color: #333; /* Cor do título */
    font-weight: 700;
    margin-bottom: 20px;
}

.login-container form, .register-container form {
    display: flex;
    flex-direction: column;
}

.login-container input, .register-container input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.6rem;
    color: #333; /* Cor do texto dos inputs */
}

.login-container input::placeholder, .register-container input::placeholder {
    color: #999; /* Placeholder mais claro */
}

/* Estilo do botão bubbly */
.bubbly-button {
    position: relative;
    overflow: hidden;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF; /* Cor do fundo do botão */
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none; /* Remove a borda padrão ao clicar */
}

.bubbly-button:hover {
    background-color: #0056b3;
}

.bubbly-button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.6s ease;
    z-index: 0;
}

.bubbly-button.animate:before {
    transform: translate(-50%, -50%) scale(1);
}

.bubbly-button span {
    position: relative;
    z-index: 1; /* Para que o texto do botão fique sobre o efeito */
}

/* Mensagem de erro */
.error-message {
    color: #d22c32;
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.login-footer {
    text-align: center;
    margin-top: 15px;
}

.login-footer a {
    color: #007BFF;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}

.logout-button {
    background-color: #d22c32;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.logout-button:hover {
    background-color: #a81c28;
}

.btn-back {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

.btn-back:hover {
  background-color: #0056b3;
  color: white;
}
